[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/.vim/bundle/eregex.vim"]
	path = vim/.vim/bundle/eregex.vim
	url = https://github.com/othree/eregex.vim.git
[submodule "vim/.vim/bundle/MatchTagAlways"]
	path = vim/.vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-cpp-enhanced-highlight"]
	path = vim/.vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/.vim/bundle/vim-gnupg"]
	path = vim/.vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/LanguageTool"]
	path = vim/.vim/bundle/LanguageTool
	url = https://github.com/vim-scripts/LanguageTool.git
[submodule "vim/.vim/bundle/python-syntax"]
	path = vim/.vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/onur/prezto.git
	branch = onur
[submodule "vim/.vim/bundle/vim-autoformat"]
	path = vim/.vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vpn/vpn"]
	path = vpn/.vpn
	url = https://git.onur.im/git/vpn
[submodule "vim/bundle/vim-motivate"]
	path = vim/.vim/bundle/vim-motivate
	url = https://github.com/onur/vim-motivate.git
[submodule "vim/.vim/bundle/vim-session"]
	path = vim/.vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim/.vim/bundle/vim-misc"]
	path = vim/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/.vim/bundle/vim-toml"]
	path = vim/.vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
