[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/emmet-vim"]
	path = _vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "_vim/bundle/eregex.vim"]
	path = _vim/bundle/eregex.vim
	url = https://github.com/othree/eregex.vim.git
[submodule "_vim/bundle/MatchTagAlways"]
	path = _vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-airline"]
	path = _vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "_vim/bundle/vim-cpp-enhanced-highlight"]
	path = _vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/vim-gitgutter"]
	path = _vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "_vim/bundle/vundle"]
	path = _vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
