port_range = 6882-6882
directory = /home/onur/torrent/
session = /home/onur/.rtorrent/session/
upload_rate = 20
min_peers = 20
max_peers = 30
min_peers_seed = 5
max_peers_seed = 10
max_uploads = 3
max_uploads_div = 1
max_uploads_global = 5
dht = on
dht_port = 6881

# experimental
#peer_exchange = yes

# watch
schedule = watch_directory,10,10,load_start=/home/onur/.rtorrent/torrent_files/*.torrent
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=

# fcgi
scgi_local = /home/onur/.rtorrent.socket
