[Desktop Entry]
Version=1.0
Name=E-Devlet Kimlik Kartı Uygulaması (E-KimlikUygulamasi) from edevlet-ekimlik.jnlp
GenericName=Java Web Start Application
Comment=E-Devlet Kimlik Kartı Uygulaması
Categories=Network;E-Devlet Kimlik Kartı Uygulaması;Java;Javaws;
Type=Application
Icon=/home/onur/.config/icedtea-web/icons/kimlik-64.png
X-Vendor=Turksat
Exec=javaws "https://static.turkiye.gov.tr/downloads/e-kimlik/edevlet-ekimlik.jnlp"
